@import "./settings.scss";

:local {
    .mainContainer {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        height: 90vh;

        .header {
            font-size: 2rem;
            color: var(--text-primary);
        }

        .searchBarContainer {

            .searchBar {
                margin: 0 0 0.5rem 0;
                display: flex;
                flex-direction: row;
                align-items: center;

                div {
                    margin: 0rem;
                }

                fieldset {
                    border: 1px solid var(--text-primary);
                }
                
                label {
                    color: var(--text-primary);
                }
            }
        }

        .disabled * {
            color: var(--table-background-color) !important;
        }

        .iconButton {
            color: var(--text-primary);
            border: 1px solid var(--text-primary);
            border-radius: 4px;
            cursor: pointer;
            padding: 0 0.5rem !important;
            height: 56px;
        }
    }

    .gridContainer {
        flex: 1;
        overflow-y: auto;
        border: 1px solid var(--border-color);
        border-radius: 0.5rem;
        background-color: var(--table-background-color);
        margin: 0 0 0.5rem 0;
    }

	.form {
        padding-top: 0.625rem;
		align-items: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 0.625rem;

        .formGroup {
            display: flex;
            flex-direction: column;
            width: 75%;

            .horizontalGroup {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            label {
                margin-bottom: 0.313rem;
            }

            input,
            textArea {
                padding: 0.625rem;
                border: 1px solid var(--text-primary);
                border-radius: 4px;
                background-color: var(--table-background-color);
                color: var(--text-primary);
                font-size: 1rem;
            }

            select {
                padding: 0.625rem;
                border: 1px solid var(--text-primary);
                border-radius: 4px;
                background-color: var(--table-background-color);
                color: var(--text-primary);
            }

            .dropDownMenu {
                background-color: var(--table-background-color);
                color: var(--text-primary);

                label {
                    color: var(--text-primary);
                }

                fieldset {
                    border: 1px solid var(--text-primary);
                }

                MenuItem {
                    div {
                        background-color: var(--table-background-color);
                    }
                }
            }
        }
	}

    .suggestionContainer {
        display: flex;
        flex-direction: column;
        margin: auto;

        label {
            margin-bottom: 0.313rem;
        }
    }

    .userProductCell {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        overflow: visible;
        height: inherit;

        button {
            height: inherit;
        
            .icon {
                font-size: 1rem;
                height: inherit;
            }
        }
    }

    .textBlock {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        height: 100%;
        line-height: 1;
        cursor: pointer;
        text-decoration: underline;
        color: var(--text-primary);
        word-break: break-word;
    }

    .productName {
        margin-right: 4px;
    }

    .productNotes {
        color: var(--text-secondary);
    }

    .lineThrough {
        text-decoration: line-through;
        opacity: 0.6;
    }

    .actionsContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 6rem;
        margin-top: auto;

        .actions {
            display: flex;
            gap: 0.625rem;
            width: 100%;
            justify-content: center;
                
            .defaultStore {
                background-color: transparent;
                color: inherit;
            }

            .defaultStore:hover {
                background-color: transparent;
            }

            .activeStore {
                background-color: var(--background-container);
                color: var(--text-primary);
            }

            .activeStore:hover {
                background-color: var(--background-container);
            }
        }
    }

    Button {
        height: 4rem;
        
        .defaultStore {
            background-color: transparent;
            color: inherit;
        }

        .defaultStore:hover {
            background-color: transparent;
        }

        .activeStore {
            background-color: var(--background-container);
            color: var(--text-primary);
        }

        .activeStore:hover {
            background-color: var(--background-container);
        }
    }
}