@import "@css/AdminViews.module.scss";

:local {
    .buttonsContainer {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 90%;
        justify-content: center;
        width: 65%;
        align-self: center;
    }
}