.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #28343C;
}

.login-container {
    background: var(--table-background-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    color: var(--text-primary);
}

.login-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #28343C;
}

.login-form .form-group {
    margin-bottom: 1rem;
}

.login-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--text-primary);
}

.login-form .form-input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--text-primary);;
    border-radius: 4px;
    font-size: 1rem;
}

.login-form .form-input:focus {
    border-color: #007bff;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 0.8rem;
    background-color: #007bff;
    color: var(--text-primary);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

.register-link {
  margin-top: 1.5rem;
  text-align: center;

  .register-text {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: #0056b3;
    }
  }
}